body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: bisque;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
header{
    background-image: url("../images/mike-scheid-xoYPV4oVQJI-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: antiquewhite;
    text-align: center;
    padding: 90px 0;
}
header h1{
    font-weight: 700;
    font-size: 75px;
    line-height: 1;
}
header h3{
    font-weight: 700;
    font-size: 35px;
    line-height: 1.5;
    color: rgb(234, 179, 107);
    letter-spacing: 5px;
}
header a{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 18px;
    opacity: 0.8;
    color: rgb(234, 179, 107);
    text-decoration: none;
    display: inline-block;
    margin: 20;
}
footer{
    color: white;
    background-image: linear-gradient(rgba(39,32,68,0.9),rgba(39,32,68,0.9)) url("../images/photo-1648441095877-90406e6ba04d.avif");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 10px;
}
footer h3{
     font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
}
footer p{
    font-weight: 400;
    font-size: 15px;
    line-height: 1;
    margin: 10px;
}
footer ul{
    margin: 0;
}
footer li{
    list-style: none;
    padding: 0;
    margin: 0;
}
footer a{
    color: white;
    opacity: 0,7;
}
section{
    max-width: 1200px;
    margin: 0 auto;
}



@media (max-width: 960px) {
    header{
        padding: 60px 0;
    }
    header h1{
        font-size: 30px;
    }
    header h3{
        font-size: 18px;
    }
    header a{
        font-size: 18px;
    }
}
